<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Hospital System</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/doctors}"
                           th:classappend="${requestURI.startsWith('/doctors')} ? ' active' : ''">
                            Doctors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/patients}"
                           th:classappend="${requestURI.startsWith('/patients')} ? ' active' : ''">
                            Patients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/appointments}"
                           th:classappend="${requestURI.startsWith('/appointments')} ? ' active' : ''">
                            Appointments
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
