<div th:fragment="sidebar"
     id="appSidebar"
     class="sidebar bg-dark text-white"
     style="
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;
        height: 100vh;
        overflow-y: auto;
        padding: 20px 15px;
        z-index: 1000;
     ">

    <div class="d-flex align-items-center gap-3 mb-4 mt-3 text-center">

        <img th:src="@{${navbarProfileUrl}}"
             alt="Profile"
             class="rounded-circle"
             style="
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 2px solid #6c757d;
         ">

        <div class="text-start">
            <h6 class="mb-0" th:text="${navbarProfileName}">User</h6>
        </div>

    </div>

    <a th:href="@{/profile}" class="btn btn-outline-light btn-sm w-100">
        View Profile
    </a>



    <hr class="border-secondary mb-3 mt-3">

    <!-- TITLE -->
    <h4 class="text-white text-center fs-6 mb-3">
        Clinic Management System
    </h4>

    <!-- NAVIGATION -->
    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a th:href="@{/home}" class="nav-link text-white">🏠 Home</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/appointments/book}" class="nav-link text-white">📬 Book Appointment</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/appointments}" class="nav-link text-white">📅 Appointments</a>
        </li>

        <hr class="border-light">

        <li class="nav-item mb-2">
            <a th:href="@{/users}" class="nav-link text-white">👤 Users</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/admins}" class="nav-link text-white">🧑‍💻 Admins</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/doctors}" class="nav-link text-white">🧑‍⚕️ Doctors</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/patients}" class="nav-link text-white">🤕 Patients</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/departments}" class="nav-link text-white">🏥 Departments</a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/exports}" class="nav-link text-white">🗂️ Export Listing</a>
        </li>

        <hr class="border-light">

        <li class="nav-item">
            <a th:href="@{/login}" class="nav-link text-danger fw-bold">Logout</a>
        </li>

    </ul>

</div>
