<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/base :: base (~{::content})" th:with="sidebarFragment='fragments/sidebar-admin :: sidebar'">
<div th:fragment="content">
    <h4>Edit Department</h4>
    <form th:action="@{/departments/update/{id}(id=${department.id})}" th:object="${department}" method="post">
        <div class="mb-3">
            <label>Name</label>
            <input th:field="*{departmentName}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <textarea th:field="*{departmentDescription}" class="form-control"></textarea>
        </div>
        <button class="btn btn-success">Update</button>
        <a th:href="@{/departments}" class="btn btn-link">Cancel</a>
    </form>
</div>
</html>
